{% set dangerFlash = true %}
{% extends 'base.html.twig' %}

{% block description %}
    Connexion au site pour bénéficier de fonctionnalitée supplémentaire
{% endblock %}

{% block title %}
    Etienne Bénard - Se connecter
{% endblock %}

{% block body %}
    <main class="container mt-5 flex-fill">
        <div class="offset-md-2 col-md-8">
            <div class="card border-primary">
                <h1 class="card-header">Connexion</h1>
                <div class="card-body">
                    <form method="post" action="{{ route('login') }}">
                        <div class="form-horizontal">
                            {% if session.has('dangerFlash') %}
                                <div class="alert alert-danger alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true"><small>&times;</small></span>
                                    </button>
                                    {% for field , errors in session.get('dangerFlash') %}
                                        {% if loop.first %}
                                            <div class="alert-heading">
                                                <h3>{% if loop.length > 1 %}Des erreurs sont survenues{% else %}Une erreur est survenue{% endif %}</h3>
                                            </div>
                                        {% endif %}
                                        <ol {% if loop.last %} class="mb-0"{% endif %}>
                                            {% if errors is iterable %}
                                                <strong>{{ field }}</strong>
                                                {% for error in errors %}
                                                    <li>{{ error }}</li>
                                                {% endfor %}
                                            {% else %}
                                                <li>{{ errors }}</li>
                                            {% endif %}
                                        </ol>
                                        {% if not loop.last %}
                                            <hr>{% endif %}
                                    {% endfor %}
                                </div>
                                {{ session.delete('dangerFlash') }}
                            {% endif %}
                            <small class="form-text text-muted">
                                Les champs suivi d'un <span class="text-danger">*</span> sont obligatoires
                            </small>
                            <div class="form-group row align-items-center">
                                <label for="email" class="col-md-3 col-form-label text-center text-md-left required">Email</label>
                                <div class="col-md-9">
                                    <input type="email" class="form-control text-center text-md-left" id="email"
                                           name="email" placeholder="Email" required="required"
                                            {% if email is defined and email is not null %} value="{{ email }}"{% endif %}
                                           autofocus
                                    >
                                </div>
                            </div>
                            <div class="form-group row align-items-center">
                                <label for="password" class="col-md-3 col-form-label text-center text-md-left required">Mot
                                    de passe</label>
                                <div class="col-md-9">
                                    <input type="password" class="form-control text-center text-md-left" id="password"
                                           name="password"
                                           placeholder="********" required="required">
                                </div>
                            </div>
                            <div class="form-group row justify-content-center justify-content-md-start">
                                <div class="offset-md-3 pl-md-3 mt-2">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="remember"
                                               name="remember">
                                        <label class="custom-control-label" for="remember">Se rappeler de moi</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row justify-content-center">
                                <button class="btn btn-outline-primary btn-lg" type="submit">Se connecter</button>
                            </div>
                        </div>
                    </form>
                    <div class="form-group row justify-content-center justify-content-md-end">
                        <div class="text-center text-md-right mr-md-4">
                            <span>Vous n'avez pas de compte ?</span><a href="{{ route('register') }}"
                                                                       class="mr-md-auto"><br>S'inscrire</a>

                        </div>
                    </div>
                </div>
            </div>
            <details class="mt-3">
                <summary>Exemple logins</summary>
                <ol>
                    <li>Compte admin - email: admin@exemple.fr pass: admin</li>
                    <li>Compte moderateur - email: moderateur@exemple.fr pass: moderateur</li>
                    <li>Compte auteur - email: auteur@exemple.fr pass: auteur</li>
                </ol>
            </details>
        </div>
    </main>
{% endblock %}