{# Permet d'use des customs handlers pour les messages flashs #}
{% set dangerFlash = true %}
{% set successFlash = true %}
{% set captcha = true %}
{% set captchaAction = "register"%}

{% extends 'base.html.twig' %}

{% block description %}
    S'inscrire au site pour bénéficier de fonctionnalitée supplémentaire
{% endblock %}

{% block title %}
    Etienne Bénard - S'inscrire
{% endblock %}

{% block body %}
    <main class="container mt-5 flex-fill">
        <div class="offset-md-2 col-md-8">
            <div class="card border-primary">
                <h1 class="card-header">S'inscrire</h1>
                <div class="card-body">
                    <form method="post" action="{{ route('register') }}">
                        {% if session.has('dangerFlash') %}
                            <div class="alert alert-danger alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true"><small>&times;</small></span>
                                </button>
                                {% for field , errors in session.get('dangerFlash') %}
                                    {% if loop.first %}
                                        <div class="alert-heading">
                                            <h3>{% if loop.length > 2 %}Des erreurs sont survenues{% else %}Une erreur est survenue{% endif %}</h3>
                                        </div>
                                    {% endif %}
                                    <ol {% if loop.last %} class="mb-0"{% endif %}>
                                        {% if errors is iterable %}
                                            <strong>{{ field }}</strong>
                                            {% for error in errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        {% else %}
                                            <li>{{ errors }}</li>
                                        {% endif %}
                                    </ol>
                                    {% if not loop.last %}
                                        <hr>{% endif %}
                                {% endfor %}
                            </div>
                            {{ session.delete('dangerFlash') }}
                        {% endif %}
                        <small class="form-text text-muted">
                            Les champs suivi d'un <span class="text-danger">*</span> sont obligatoires
                        </small>
                        <div class="form-group row align-items-center">
                            <label for="email"
                                   class="col-md-3 col-form-label text-center text-md-left required">Email</label>
                            <div class="col-md-9">
                                <input type="email" class="form-control text-center text-md-left" id="email"
                                       name="email"
                                       placeholder="Email" {% if email is defined and email is not null %} value="{{ email }}"{% endif %}
                                       required="required"
                                       autofocus>
                            </div>
                        </div>
                        <div class="form-group row align-items-center">
                            <label for="pseudo"
                                   class="col-md-3 col-form-label text-center text-md-left required">Pseudo</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control text-center text-md-left" id="pseudo"
                                       name="pseudo"
                                       placeholder="Pseudo" {% if pseudo is defined and pseudo is not null %} value="{{ pseudo }}"{% endif %}
                                       required="required">
                            </div>
                        </div>
                        <div class="form-group row align-items-center">
                            <label for="password" class="col-md-3 col-form-label text-center text-md-left required">Mot
                                de
                                passe</label>
                            <div class="col-md-9">
                                <input type="password" class="form-control text-center text-md-left" id="password"
                                       name="password"
                                       placeholder="********" required="required">
                            </div>
                        </div>
                        <div class="form-group row align-items-center">
                            <label for="password" class="col-md-3 col-form-label text-center text-md-left required">Confirmer
                                le mot de passe</label>
                            <div class="col-md-9">
                                <input type="password" class="form-control text-center text-md-left"
                                       id="password_confirm" name="password_confirm"
                                       placeholder="********">
                            </div>
                        </div>
                        {#<div class="form-group row align-items-center">
                            <div class="col-md-9 offset-md-3" id="register-captcha"
                                 data-sitekey="{{ getenv('RECAPTCHA_SITEKEY') }}">
                            </div>
                        </div>#}
                        <div class="form-group row justify-content-center">
                            <button class="btn btn-outline-primary btn-lg" type="submit">S'inscrire</button>
                        </div>
                    </form>
                    <div class="form-group row justify-content-center justify-content-md-end">
                        <div class="text-center text-md-right mr-md-4">
                            <span>Déja inscrit ?</span><a href="{{ route('login') }}"
                                                          class="mr-md-auto"><br>Se connecter</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
