{% extends 'base.html.twig' %}
{% set dangerFlash = true %}

{% block description %}
    Modifier vos informations de connections
{% endblock %}

{% block title %}
    Etienne Bénard - Changer votre mot de passe
{% endblock %}

{% block body %}
    <main class="container mt-5 flex-fill">
        <div class="offset-md-2 col-md-8">
            <div class="card border-primary">
                <h3 class="card-header">Modifier votre mot de passe</h3>
                <div class="card-body">
                    <form method="post" action="{{ route('editCredentials') }}">
                        <div class="form-horizontal">
                            {% if session.has('dangerFlash') %}
                                <div class="alert alert-danger alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true"><small>&times;</small></span>
                                    </button>
                                    {% if session.get('dangerFlash') is iterable %}
                                    {% for field , errors in session.get('dangerFlash') %}
                                        {% if loop.first %}
                                            <div class="alert-heading"><h3>{% if loop.length > 1 %}Des erreurs sont survenues{% else %}Une erreur est survenue{% endif %}</h3></div>
                                        {% endif %}
                                        <ol {% if loop.last %} class="mb-0"{% endif %}>
                                            {% if errors is iterable %}
                                                <strong>{{ field }}</strong>
                                                {% for error in errors %}
                                                    <li>{{ error }}</li>
                                                {% endfor %}
                                            {% else %}
                                                <li>{{ errors }}</li>
                                            {% endif %}
                                        </ol>
                                        {% if not loop.last %}
                                            <hr>{% endif %}
                                    {% endfor %}
                                    {% else %}
                                        <p>{{ session.get('dangerFlash') }}</p>
                                    {% endif %}
                                </div>
                                {{ session.delete('dangerFlash') }}
                            {% endif %}
                            <small class="form-text text-muted">
                                Les champs suivi d'un <span class="text-danger">*</span> sont obligatoires
                            </small>
                            <div class="form-group row align-items-center">
                                <label for="currentpassword"
                                       class="col-md-4 col-form-label text-center text-md-left required">Mot de passe actuel</label>
                                <div class="col-md-8">
                                    <input type="password" class="form-control text-center text-md-left" id="currentpassword"
                                           name="currentpassword"
                                           placeholder="********"
                                           required="required"
                                           autofocus>
                                </div>
                            </div>

                            <div class="form-group row align-items-center">
                                <label for="newpassword"
                                       class="col-md-4 col-form-label text-center text-md-left required">Nouveau mot de passe</label>
                                <div class="col-md-8">
                                    <input type="password" class="form-control text-center text-md-left" id="pseudo"
                                           name="newpassword"
                                           placeholder="********"
                                           required="required">
                                </div>
                            </div>


                            <div class="form-group row align-items-center">
                                <label for="newpassword_confirm" class="col-md-4 col-form-label text-center text-md-left required">Confirmer
                                    le nouveau mot de passe</label>
                                <div class="col-md-8">
                                    <input type="password" class="form-control text-center text-md-left" id="newpassword_confirm"
                                           name="newpassword_confirm"
                                           placeholder="********" required="required">
                                </div>
                            </div>

                            <div class="form-group row justify-content-center">
                                <button class="btn btn-outline-primary btn-lg" type="submit">Modifier</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
