{% extends 'base.html.twig' %}

{% block description %}
    Voir ses informations personnels et permettre de vous décrire, y ajouter un avatar eventuellement
{% endblock %}

{% block title %}
    Etienne Bénard - Modifier son profil
{% endblock %}

{% set profile = user.getUserProfil.find_one %}
{% block body %}
    <main class="container mt-5 flex-fill">
        <div class="card border-primary mb-3">
            <div class="card-header">
                <h1>Mon profil</h1>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 d-flex flex-column align-items-center mb-3">
                        {% set userAvatar = (profile.avatar is not null)? "/img/#{profile.avatar}":"/img/defaultAvatar.png" %}
                        <figure class="mb-2" id="avatarImg">
                            <img src="{{ assets(userAvatar) }}" alt="User Avatar"
                                 class="img-thumbnail" data-user="{{ user.slug }}"
                                 data-avatar="{{ profile.avatar }}">
                        </figure>
                        {% if profile.avatar is not null %}
                            <button class="btn btn-sm btn-danger" id="avatarDel">Supprimer l'avatar</button>
                        {% endif %}
                        <form method="post" enctype="multipart/form-data">
                            <div class="form-group-sm text-center">
                                <label for="avatar" class="col-form-label">Modifier votre avatar</label>
                                <input class="form-control-file" id="avatar" type="file" name="avatar">
                                <button type="submit" class="btn btn-secondary btn-block btn-sm mt-2 d-none"
                                        id="avatarValid" name="validate">Valider <i
                                            class="far fa-check-circle text-success"></i></button>
                            </div>


                        </form>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="ml-auto mr-4">
                                <a href="{{ route('editCredentials') }}">Modifier votre mot de passe</a>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Pseudo:</strong> {{ user.pseudo }}</li>
                            <li class="list-group-item"><strong>Email:</strong> {{ user.email }}</li>
                            <li class="list-group-item"><strong>Date
                                    d'enregistrement:</strong> {{ localiseDate(user.register_date) }}</li>
                            <li class="list-group-item"><strong>Dernière
                                    connexion:</strong> {{ localiseDate(user.last_connection) }}</li>
                        </ul>
                    </div>
                </div>
                <hr>
                <h3 class="card-title mt-3">Informations Personnels</h3>
                <div class="row">
                    <div class="btn btn-sm btn-secondary ml-auto mr-4" id="editProfile">Edit</div>
                </div>
                <form class="col-lg-10 offset-lg-1 col-auto" id="formProfile" method="post">
                    <div class="form-group row">
                        <label for="firstname" class="col-md-2 col-form-label text-lg-right align-self-center">Prénom
                            :</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control-plaintext" id="firstname" placeholder="Prénom"
                                   name="firstname"
                                   readonly{% if profile.firstname is defined and profile.firstname is not null %} value="{{ profile.firstname }}"{% endif %}>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="name" class="col-md-2 col-form-label text-lg-right align-self-center">Nom :</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control-plaintext" id="name" placeholder="Nom" name="name"
                                   readonly{% if profile.lastname is defined and profile.lastname is not null %} value="{{ profile.lastname }}"{% endif %}>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="birthday" class="col-md-2 col-form-label text-lg-right align-self-center">Date de
                            naissance :</label>
                        <div class="col-md-8">
                            <input type="date" class="form-control-plaintext" id="birthday" name="birthday"
                                   readonly{% if profile.birthday is defined and profile.birthday is not null %} value="{{ profile.birthday }}"{% endif %}>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="gender" class="col-md-2 col-form-label text-lg-right align-self-center">Genre
                            :</label>
                        <div class="col-md-8">
                            <select name="gender" id="gender" class="custom-select">
                                <option value=""
                                        {% if  profile.gender == "m" or profile.gender == "f" %}disabled{% endif %}>
                                    Choisir votre genre
                                </option>
                                <option value="m" {% if profile.gender != "m" %}disabled{% endif %}>Homme</option>
                                <option value="f" {% if profile.gender != "f" %}disabled{% endif %}>Femme</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="gender" class="col-md-2 col-form-label text-lg-right align-self-center">Description
                            :</label>
                        <div class="col-md-8">
                            <textarea name="description" id="description" rows="3" class="form-control-plaintext"
                                      placeholder="Description"
                                      readonly>{% if profile.description is defined and profile.description is not null %}{{ profile.description }}{% endif %}</textarea>
                        </div>
                    </div>
                    <div class="form-group row justify-content-center d-none">
                        <button class="btn btn-outline-primary btn-lg" type="submit">Valider</button>
                    </div>
                </form>

            </div>
        </div>
    </main>
{% endblock %}
