{% extends 'base.html.twig' %}

{% block description %}
    Voir les informations personnelles des autres utilisateurs du site
{% endblock %}

{% block title %}
    Etienne Bénard - Visite de profil
{% endblock %}

{% block body %}
    <main class="container mt-5 flex-fill">
        <div class="card border-primary mb-3">
            <div class="card-header">
                {% set userRole = user.roles|unserialize %}
                <h1>Profil de <span
                            class="text-{{ isGranted('admin',userRole) ? 'danger':
                            isGranted('moderator',userRole) ? 'warning':
                            isGranted('admin',userRole)? 'info' : 'muted' }}">{{ user.pseudo }}</span>
                </h1>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 d-flex flex-column align-items-center mb-3">
                        {% set userAvatar = (profile.avatar is not null)? "/img/#{profile.avatar}":"/img/defaultAvatar.png" %}
                        <figure>
                            <img src="{{ assets(userAvatar) }}" alt="User Avatar"
                                 class="img-thumbnail mb-3">
                        </figure>
                    </div>
                    <div class="col-md-8">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Dernière
                                    connexion: </strong> {{ localiseDate(user.last_connection) }}</li>
                            <li class="list-group-item"><strong>
                                    Nombre de messages: </strong> {{ user.getNombreMessagesPost }}
                            </li>
                            <li class="list-group-item"><strong>
                                    Nombre de vues du
                                    profil: </strong> {% if profile.views is defined %}{{ profile.views }}{% else %}Inconnu{% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
                <hr>
                <h3 class="card-title mt-3">Informations Personnels</h3>
                <div class="row">
                    <div class="col-12">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Prénom
                                    :</strong>{% if profile.firstname is defined and profile.firstname is not null %} {{ profile.firstname }} {% else %}
                                <em class="text-muted">Non renseigné</em>{% endif %}
                            </li>

                            <li class="list-group-item"><strong>Nom
                                    :</strong> {% if profile.lastname is defined and profile.lastname is not null %} {{ profile.lastname }}{% else %}
                                    <em class="text-muted">Non renseigné</em> {% endif %}
                            </li>

                            <li class="list-group-item"><strong>Date de naissance
                                    :</strong> {% if profile.birthday is defined and profile.birthday is not null %} {{ localiseDate(profile.birthday,'%a %d %b %Y') }} ({{ age(profile.birthday) }} ans) {% else %}
                                    <em class="text-muted">Non renseigné</em> {% endif %}
                            </li>
                            <li class="list-group-item"><strong>Genre
                                    :</strong> {% if profile.gender is defined and profile.gender is not null %} {{ profile.gender == 'm' ? 'Homme' : (profile.gender == 'f'?  'Femme': '') }} {% else %}
                                    <em class="text-muted">Non renseigné</em>{% endif %}
                            </li>

                            <li class="list-group-item"><strong>Description
                                    :</strong> {% if profile.description is defined and profile.description is not null %} {{ profile.description }} {% else %}
                                    <em class="text-muted">Non renseigné</em>{% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
