{% set captcha = true %}
{% set dangerFlash = true %}
{% extends 'base.html.twig' %}

{% block title %}
    Etienne Bénard - Panel Admin Nouvel utilisateur
{% endblock %}

{% block body %}
    <main class="container mt-5 flex-fill">
        <div class="col-md-8 offset-md-2">
            {% if session.has('dangerFlash') %}
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><small>&times;</small></span>
                    </button>
                    {% for field , errors in session.get('dangerFlash') %}
                        {% if loop.first %}
                            <div class="alert-heading">
                                <h3>{% if loop.length > 2 %}Des erreurs sont survenues{% else %}Une erreur est survenue{% endif %}</h3>
                            </div>
                        {% endif %}
                        <ol {% if loop.last %} class="mb-0"{% endif %}>
                            {% if errors is iterable %}
                                <strong>{{ field }}</strong>
                                {% for error in errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% else %}
                                <li>{{ errors }}</li>
                            {% endif %}
                        </ol>
                        {% if not loop.last %}
                            <hr>{% endif %}
                    {% endfor %}
                </div>
                {{ session.delete('dangerFlash') }}
            {% endif %}
            <h1 class="mb-5">Création d'un nouvel utilisateur</h1>
            <form action="{{ route('admin_user_create') }}" method="post">
                <small class="form-text text-muted">
                    Les champs suivi d'un <span class="text-danger">*</span> sont obligatoires
                </small>
                <div class="form-group row">
                    <label for="email" class="col-sm-3 col-form-label required">Email</label>
                    <div class="col-sm-9">
                        <input type="email" name="email" class="form-control" id="email">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="pseudo" class="col-sm-3 col-form-label required">Pseudo</label>
                    <div class="col-sm-9">
                        <input type="text" name="pseudo" class="form-control" id="pseudo">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="password" class="col-sm-3 col-form-label required">Mot de passe</label>
                    <div class="col-sm-9">
                        <input type="password" name="password" class="form-control" id="password">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="password_confirm" class="col-sm-3 col-form-label required">Confirmer le mot de
                        passe</label>
                    <div class="col-sm-9">
                        <input type="password" name="password_confirm" class="form-control" id="password_confirm">
                    </div>
                </div>

                <div class="form-group row align-items-center">
                    <div class="col-md-9 offset-md-3" id="register-captcha"
                         data-sitekey="{{ getenv('RECAPTCHA_SITEKEY') }}">
                    </div>
                </div>
                <div class="form-group row justify-content-center">
                    <button class="btn btn-outline-primary btn-lg" type="submit">Créer</button>
                </div>

            </form>
        </div>
    </main>
{% endblock %}



{% block scripts %}
    <script src="{{ assets(Mix('/bundles/js/admin.js')) }}"></script>
{% endblock %}