@import "custom";
@import "~bootswatch/dist/materia/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/materia/bootswatch";
@import "~datatables.net-bs4/css/dataTables.bootstrap4.min.css";
@import "~select2/src/scss/core";
@import "~cookieconsent/build/cookieconsent.min.css";
@import "~bootstrap-fileinput/scss/fileinput";
@import "~bootstrap-fileinput/themes/explorer-fa/theme.min.css";

body{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 100%;
  min-height: 100vh;
}

label.required:after {
  content: " *";
  color: $danger;
}

.message-container {
  max-height: 60vh;
  overflow: auto;
  display: grid;
  grid-row-gap: 30px;
  padding: 1rem 0;
  background: #ddd;
  .message {
    display: grid;
    background: #eee;
    grid-template-columns: 1fr 1fr minmax(0, auto);
    grid-column-gap: 10px;
    grid-template-areas: "date auteur ." "message message action";

    @include media-breakpoint-up(sm) {
      grid-template-columns: minmax(20%, 150px) 1fr;
      grid-template-areas: "date message action" "auteur message action";
    }

    .message-datetime {
      display: flex;
      justify-content: flex-end;
      text-align: left;
      grid-area: date;
      @include media-breakpoint-up(sm) {
        justify-content: center;
      }
    }
    .message-author {
      display: flex;
      justify-content: flex-start;
      text-align: right;
      word-break: break-all;
      grid-area: auteur;
      @include media-breakpoint-up(sm) {
        justify-content: center;
      }
    }
    .message-text {
      grid-area: message;
      padding-left: 10px;
      word-break: break-all;
    }
    .message-action {
      display: flex;
      grid-area: action;
      padding-right: 1rem;
      align-items: center;
    }
    &:hover {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }
  }
}

.custom-control-input:focus ~ .custom-control-label::before {
  border-color: $primary;
}