{% extends 'base.html.twig' %}
{% set dangerFlash = true %}
{% block body %}
    <main class="container mt-5 flex-fill">
        <div class="col-md-8 offset-md-2">
            {% if session.has('dangerFlash') %}
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><small>&times;</small></span>
                    </button>
                    {% if session.get('dangerFlash') is iterable %}
                        {% for field , errors in session.get('dangerFlash') %}
                            {% if loop.first %}
                                <div class="alert-heading">
                                    <h3>{% if loop.length > 1 %}Des erreurs sont survenues{% else %}Une erreur est survenue{% endif %}</h3>
                                </div>
                            {% endif %}
                            <ol {% if loop.last %} class="mb-0"{% endif %}>
                                {% if errors is iterable %}
                                    <strong>{{ field }}</strong>
                                    {% for error in errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% else %}
                                    <li>{{ errors }}</li>
                                {% endif %}
                            </ol>
                            {% if not loop.last %}
                                <hr>{% endif %}
                        {% endfor %}
                    {% else %}
                        <p>{{ session.get('dangerFlash') }}</p>
                    {% endif %}
                </div>
                {{ session.delete('dangerFlash') }}
            {% endif %}
            <h1>{{ post is defined? 'Modification d\'un Post':'Création d\'un nouveau Post' }}</h1>
            <form action="{{ post is defined ? route('post_edit')~'?id='~post.id : route('post_create') }}"
                  method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="title" class="required">Titre</label>
                    <input type="text" class="form-control" id="title" name="title"
                           required{% if post.title is defined and post.title is not null %} value="{{ post.title }}"{% endif %}>
                </div>
                <div class="form-group">
                    <label for="image">Image</label>
                    <input type="file" class="file form-control" name="image" id="image">
                    {% if post is defined %}
                        <input type="hidden" name="save" value="1" id="save">
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="excerpt" class="required">Extrait</label>
                    <textarea name="excerpt" id="excerpt" class="form-control" maxlength="255"
                              required>{% if post.excerpt is defined and post.excerpt is not null %}{{ post.excerpt }}{% endif %}</textarea>
                </div>

                <div class="form-group">
                    <label for="body" class="required">Contenu</label>
                    <textarea name="body" id="body" class="form-control tinymce"
                    >{% if post.body is defined and post.body is not null %}{{ post.body }}{% endif %}</textarea>
                </div>

                <div class="form-group d-flex justify-content-center mt-4">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1"
                               name="published"{{ post.published ? ' checked': '' }}>
                        <label class="custom-control-label" for="customCheck1">Mettre en ligne
                            <small>(Vous pourrez toujours modifier l'option plus tard)</small>
                        </label>
                    </div>
                </div>

                <div class="form-group d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Valider</button>
                </div>
            </form>
        </div>
    </main>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    {% set preview = post.image is not null ? 'initialPreview: [\'<img src="/public/img/posts/' ~ post.image ~ '?a=' ~ "now"|date("mdYHis") ~ '" class="file-preview-image img-fluid" />\'],' : '' %}
    <script>
        $("#image").fileinput({
            theme: "fas",
            language: "fr",
            {{ preview|raw }}
            showUpload: false,
            allowedFileExtensions: ['png', 'jpg', 'gif'],
            maxFileCount: 1,
            fileActionSettings: {
                showUpload: false,
                showDownload: false,
                showRemove: false,
                showDrag: false,
            },
        })

        {% if post is defined %}
        $("#image").on("fileclear", function (event) {
            console.log("Suppression .");
            $('#save').val(0)
        })

        $('#image').on('fileselect', function (event, numFiles, label) {
            console.log("fileselect");
            $('#save').val(1)
        });
        {% endif %}
    </script>
{% endblock %}