{% extends 'base.html.twig' %}

{% block description %}
    Liste des articles disponibles sur le site
{% endblock %}

{% block title %}
    Etienne Bénard - Posts
{% endblock %}

{% block body %}
    <main class="container mt-5 flex-fill">
        <div class="col-md-8 offset-md-2">
            <h1>Articles</h1>
            <hr>
            <!-- Blog Post -->
            {% for post in posts %}
                <div class="card mb-4">
                    {% if post.image is not null %}
                        <img class="card-img-top" src="{{ assets('/img/posts/thumb_' ~post.image) }}" alt="Card image cap">
                    {% endif %}
                    <div class="card-body">
                        <h2 class="card-title">{{ post.title }}</h2>
                        <hr>
                        <p class="card-text">{{ post.excerpt }}</p>

                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <div class="text-muted">
                            Posté le {{ localiseDate(post.created_at) }} par
                            <a href="{{ route('userprofil') }}?name={{ post.user_slug }}" target="_blank">{{ post.pseudo }}</a>
                        </div>
                        <a href="{{ route('post_show') }}?slug={{ post.slug }}" class="btn btn-primary btn-sm">Voir
                            l'article &rarr;</a>
                    </div>
                </div>
            {% else %}
                <h3>Aucun article n'a pour le moment été publié</h3>
            {% endfor %}
        </div>
        {% include 'layout/pagination.html.twig' with {
            currentPage: currentPage,
            paginationPath: (route('post_index')~ '?page='),
            lastPage: totalPages,
            showAlwaysFirstAndLast: false
        } only %}
    </main>
{% endblock %}