{% extends 'base.html.twig' %}

{% block title %}
Etienne Bénard - Post
{% endblock %}

{% block description %}
Affichage du contenu d'un article
{% endblock %}

{% block body %}
    <main class="container mt-5 flex-fill">
        <div class="col-md-10 offset-md-1">
            <h1>{{ post.title }}</h1>
            <p class="lead">
                Par
                <a href="{{ route('userprofil') }}?name={{ post.user_slug }}" target="_blank">{{ post.pseudo }}</a>
            </p>
            <hr>
            <p>Posté le {{ localiseDate(post.created_at) }}</p>
            <hr>
            {% if post.image is not null %}
                <figure>
                    <img src="{{ assets('/img/posts/' ~post.image) }}" alt="post image" class="img-fluid rounded">
                </figure>
                <hr>
            {% endif %}
            <div class="text-content">
                {{ post.body|raw }}
            </div>
        </div>
    </main>
{% endblock %}