{% extends 'base.html.twig' %}
{% set dangerFlash = true %}
{% set captcha = true %}
{% set captchaAction = "contact"%}
{% block description %}
    Formulaire de contact pour envoyer des remarques, questions ou autres.
{% endblock %}

{% block title %}
    Etienne Bénard - Contact
{% endblock %}

{% block body %}
    <main class="container mt-5 flex-fill">
        <div class="col-md-8 offset-md-2">
            {% if session.has('dangerFlash') %}
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><small>&times;</small></span>
                    </button>
                    {% if session.get('dangerFlash') is iterable %}
                        {% for field , errors in session.get('dangerFlash') %}
                            {% if loop.first %}
                                <div class="alert-heading">
                                    <h3>{% if loop.length > 1 %}Des erreurs sont survenues{% else %}Une erreur est survenue{% endif %}</h3>
                                </div>
                            {% endif %}
                            <ol {% if loop.last %} class="mb-0"{% endif %}>
                                {% if errors is iterable %}
                                    <strong>{{ field }}</strong>
                                    {% for error in errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% else %}
                                    <li>{{ errors }}</li>
                                {% endif %}
                            </ol>
                            {% if not loop.last %}
                                <hr>{% endif %}
                        {% endfor %}
                    {% else %}
                        <p>{{ session.get('dangerFlash') }}</p>
                    {% endif %}
                </div>
                {{ session.delete('dangerFlash') }}
            {% endif %}
            <h1>Formulaire de contact</h1>
            <form action="{{ route('contact') }}"
                  method="post">
                <small class="form-text text-muted mb-2">
                    Les champs suivi d'un <span class="text-danger">*</span> sont obligatoires
                </small>
                <div class="form-group">
                    <label for="email" class="required">Email (pour avoir une réponse éventuelle)</label>
                    <input type="email" class="form-control" id="email" name="email" required {% if User is not null %}value="{{ User.email }}"{% endif %}>
                </div>
                <div class="form-group">
                    <label for="name" class="required">Votre nom</label>
                    <input type="text" class="form-control" id="name" name="name"
                           required {% if User is not null %}value="{{ User.pseudo }}"{% endif %}>
                </div>
                <div class="form-group">
                    <label for="subject" class="required">Objet</label>
                    <input type="text" class="form-control" name="subject" id="subject" required maxlength="255" {% if form is defined and form.subject is not null %}value="{{ form.subject }}"{% endif %}>
                </div>
                <div class="form-group">
                    <label for="message" class="required">Votre Message</label>
                    <textarea name="message" id="message" class="form-control" rows="8"
                              required>{% if form is defined and form.message is not null %}{{ form.message }}{% endif %}</textarea>
                </div>
                <div class="form-group d-flex justify-content-center">
                    <button class="btn btn-primary g-recaptcha" data-sitekey="{{ getenv('RECAPTCHA_SITEKEY') }}" data-callback="onSubmit">Valider</button>
                </div>
            </form>
        </div>

    </main>
{% endblock %}