{% extends 'base.html.twig' %}

{% block description %}
Index du site, vous y retrouverez des informations sur le developpement du projet
{% endblock %}

{% block title %}
Etienne Bénard - Index
{% endblock %}

{% block body %}
    <main class="container mt-5 flex-fill">
       <h1>Bienvenue sur mon site</h1>
	   
	   <p>Ce site à été réalisé dans le cadre de ma formations à Doranco Espace Multimédia</p>
	   <p>Le but du site est de valider les aquis après la formation de développeur d'application multimédia en tant que développeur WEB afin de passer devant un jury</p>
	   <p>Ce site n'est pas fini, mais donne un aperçu du développement produit jusqu'à maintenant</p>
	   <p>Les technologies utilisées sur ce site sont:<p>
	   <ul>
		<li>Structure MVC maison avec <a href="http://j4mie.github.io/idiormandparis/" target="_blank">Idiorm et Paris</a></li>
		<li>Utilisation du framework CSS <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a> (Theme: <a href="https://bootswatch.com/materia/" target="_blank">Materia par Bootswatch</a>)</li>
		<li>Utilisation du moteur de template <a href="https://twig.symfony.com/" target="_blank">Twig</a></li>
		<li>Utilisation du préprocesseur SASS et modules en javascript, compilés avec <a href="https://laravel.com/docs/5.6/mix" target="_blank">Laravel Mix</a></li>
		<li>Utilisation de <a href="https://getcomposer.org/" target="_blank">Composer</a> et de <a href="https://www.npmjs.com/" target="_blank">Npm</a></li>
        <li>Utilisation d'une base de donnée de type MariaDB</li> 
	   </ul>
        <p>Sur ce site nous pouvons retrouver un système d'<a href="{{ route('register') }}">Authentification</a> - <a href="{{ route('login') }}">Connexion</a></p>
        <p>Un Système de <a href="{{ route('tchat') }}">Tchat</a> entre membres connectés</p>
        <p>Ainsi qu'un système d'<a href="{{ route('post_index') }}">Articles</a></p>
        <p>Une partie de gestion utilisable uniquement par les personnes aillant un role permet de gérer tout ça</p>
		
    </main>
{% endblock %}