<div class="row mx-0 justify-content-between align-items-center">
    <h1 class="mt-3">Liste des Message reçu via le formulaire de contact</h1>
</div>
<div class="mb-3">
    <table id="contact_table" class="table table-bordered w-100 table-striped">
        <thead>
        <td>Message ID</td>
        <td>Email</td>
        <td>Name</td>
        <td>Sujet</td>
        <td>Ouvert</td>
        <td data-orderable="false" data-searchable="false">Action</td>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.name }}</td>
                <td>{{ contact.subject }}</td>
                <td>{{ contact.flag }}</td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

