{% extends 'base.html.twig' %}

{% block head %}
    <link rel="preload" href="{{ assets(Mix('/bundles/js/admin.js')) }}" as="script">
{% endblock %}

{% block styles %}
{% endblock %}

{% block description %}
    BackEnd du site web, accedez aux informations à un seul endroit
{% endblock %}

{% block title %}
    Etienne Bénard - Panel Admin
{% endblock %}


{% block body %}
    <main class="container mt-3 flex-fill">
        <nav>
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                {% if isGranted('admin') or isGranted('moderator') %}
                    <a class="nav-item nav-link" id="nav-user-tab" data-toggle="tab" href="#nav-user" role="tab"
                       aria-controls="nav-user" aria-selected="true">Users</a>
                {% endif %}
                {% if isGranted('admin') or isGranted('moderator') %}
                    <a class="nav-item nav-link" id="nav-tchat-tab" data-toggle="tab" href="#nav-tchat" role="tab"
                       aria-controls="nav-profile" aria-selected="false">Tchat</a>
                {% endif %}
                <a class="nav-item nav-link" id="nav-post-tab" data-toggle="tab" href="#nav-post" role="tab"
                   aria-controls="nav-post" aria-selected="false">Posts</a>
                {% if User.id == 1 %}
                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
                   aria-controls="nav-contact" aria-selected="false">Contacts messages</a>
                {% endif %}
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            {% if isGranted('admin') or isGranted('moderator') %}
                <div class="tab-pane fade" id="nav-user" role="tabpanel" aria-labelledby="nav-user-tab">
                    {% include 'back/users.html.twig' %}
                </div>
            {% endif %}
            {% if isGranted('admin') or isGranted('moderator') %}
                <div class="tab-pane fade" id="nav-tchat" role="tabpanel" aria-labelledby="nav-tchat-tab">
                    {% include 'back/tchat.html.twig' %}
                </div>
            {% endif %}

            <div class="tab-pane fade" id="nav-post" role="tabpanel" aria-labelledby="nav-post-tab">
                {% include 'back/posts.html.twig' %}
            </div>

            {% if User.id == 1 %}
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                    {% include 'back/contact.html.twig' %}
                </div>
            {% endif %}
        </div>


    </main>
{% endblock %}



{% block scripts %}
    <script src="{{ assets(Mix('/bundles/js/admin.js')) }}"></script>
{% endblock %}