<div class="row mx-0 justify-content-between align-items-center">
    <h1 class="mt-3">Liste des posts</h1>
    <div class="col-auto">
        <a class="btn btn-success" href="{{ route('post_create') }}">
            Nouveau
        </a>
    </div>
</div>
<div class="mb-3">
    <table id="post_table" class="table table-bordered w-100 table-striped">
        <thead>
        <td>Post ID</td>
        <td>Auteur</td>
        <td>Titre</td>
        <td>Date de création</td>
        <td>Date de dernière modification</td>
        <td>Publié</td>
        <td data-orderable="false" data-searchable="false">Action</td>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.pseudo }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.created_at|date("d/m/Y à H:i:s") }}</td>
                <td>{{ post.updated_at ? post.updated_at|date("d/m/Y à H:i:s"): '' }}</td>
                <td class="text-center" data-order="{{ post.published ? 1 : 0 }}">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input post_publish" data-post="{{ post.id }}"
                               id="post-{{ post.id }}" {{ post.published ? ' checked': '' }}>
                        <label class="custom-control-label mb-3" for="post-{{ post.id }}"></label>
                    </div>
                </td>
                <td class="text-center">
                    <a href="{{ route('post_edit') }}?id={{ post.id }}" class="btn btn-sm btn-warning"
                       title="Modifier le post"><i class="fas fa-edit fa-fw"></i></a>
                    <button class="btn btn-sm btn-danger delete_post" title="Supprimer le post"
                            data-post="{{ post.id }}"><i class="fas fa-trash fa-fw"></i></button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

