<h1 class="mt-3">Liste des messages</h1>
<div class="mb-3">
    <table id="tchat_table" class="table table-bordered w-100 table-striped">
        <thead>
        <td>Message ID</td>
        <td>Pseudo</td>
        <td>Message</td>
        <td>Date</td>
        <td>Statut</td>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.id }}</td>
                <td>{{ message.pseudo }}</td>
                <td>{{ message.message }}</td>
                <td>{{ message.posted_at| date("d/m/Y à H:i:s") }}</td>
                <td class="text-center" data-order="{{ message.flag == 0 ? 0 : 1 }}">
                    {% if message.flag == 0 %}
                        <button class="btn btn-sm btn-success updateMessage"
                                data-message="{{ message.id }}" title="Supprimer le message">
                            <i class="fas fa-check fa-fw"></i></button>
                    {% else %}
                        <button class="btn btn-sm btn-danger updateMessage"
                                data-message="{{ message.id }}" title="Afficher le message"><i
                                    class="fas fa-times fa-fw"></i></button>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        {% if messages|length != 0 %}
            <tr class="bg-transparent">
                <td colspan="5" class="text-right">
                    <button class="btn btn-warning btn-sm" id="deleteAllMessages">Supprimer tout les messages</button>
                </td>
            </tr>
        {% endif %}
    </table>
</div>

