<div class="row mx-0 justify-content-between align-items-center">
    <h1 class="mt-3">Liste des utilisateurs</h1>
    <div class="col-auto">
        <a class="btn btn-success" href="{{ route('admin_user_create') }}" id="newUser">
            Nouveau
        </a>
    </div>
</div>
<div class="row mb-3 align-items-center">
    <div class="col-md-auto">
        <select name="role_user" id="role_user" class="custom-select">
            <option value="" selected>Filtrer par role</option>
            <option value="admin">Admin</option>
            <option value="moderator">Modérateur</option>
            <option value="author">Auteur</option>
        </select>
    </div>
</div>
<div class="mb-3">
    <table id="user_table" class="table table-bordered w-100 table-striped">
        <thead>
        <td>User ID</td>
        <td>Pseudo</td>
        <td>Email</td>
        <td>Date d'enregistrement</td>
        <td>Date de dernière connection</td>
        <td data-orderable="false" data-searchable="false">Roles</td>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.pseudo }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.register_date|date("d/m/Y à H:i:s") }}</td>
                <td>{{ user.last_connection ? user.last_connection|date("d/m/Y à H:i:s"): '' }}</td>
                <td>
                    {% set roles = user.roles | unserialize %}
                    {% if isGranted('admin') %}
                        <select name="roles" class="roles updateRole w-100" multiple data-user="{{ user.id }}">
                            <option value="admin" {{ isGranted('admin',roles) ? ' selected': '' }}>Admin</option>
                            <option value="moderator" {{ isGranted('moderator',roles) ? ' selected': '' }}>Modérateur
                            </option>
                            <option value="author" {{ isGranted('author',roles) ? ' selected': '' }}>Auteur</option>
                        </select>
                    {% else %}
                        <select name="roles" class="roles w-100" multiple disabled>
                            <option value="admin" {{ isGranted('admin',roles) ? ' selected': '' }}>Admin</option>
                            <option value="moderator" {{ isGranted('moderator',roles) ? ' selected': '' }}>Modérateur
                            </option>
                            <option value="author" {{ isGranted('author',roles) ? ' selected': '' }}>Auteur</option>
                        </select>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

