{% extends 'base.html.twig' %}

{% block description %}
    Discuter en temp réel avec les membres inscrits
{% endblock %}

{% block title %}
    Etienne Bénard - Discussion
{% endblock %}

{% block body %}
    <main class="container mt-5 flex-fill">
	<h1>Espace commentaires</h1>
        <div id="tchat">
            {% include 'tchat/tchat_container.html.twig' %}
        </div>

        {% if User is not null %}
            <form action="{{ route('newMessage') }}" id="postMessage">
                <div class="col-10 offset-1">
                    <div class="input-group mt-5">
                        <input type="text" class="form-control" placeholder="Votre message" name="message" autocomplete="off" autofocus required>
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit"><i class="fas fa-angle-double-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        {% endif %}
    </main>
{% endblock %}
