<div class="message-container rounded">
    {% for message in messages|reverse %}
        {% set roles = message.roles | unserialize %}
        <div class="message" data-message-id="{{ message.id }}">
            <div class="message-datetime text-muted"><i>{{ message.posted_at }}</i></div>
            <div class="message-author"><strong><a href="{{ route('userprofil') }}?name={{ message.slug }}"
                                                   class="{% if isGranted('admin',roles) %}text-danger{% elseif isGranted('moderator',roles) %}text-warning{% elseif isGranted('author',roles) %}text-info{% else %}text-muted{% endif %}">{{ message.pseudo }}</a></strong>
            </div>
            <div class="message-text">{{ message.message }}</div>
            {% if User is not null %}
                {% if isGranted('admin') or isGranted('moderator') %}
                    <div class="message-action"><button class="message-hide btn btn-link btn-sm"><i
                                    class="far fa-trash-alt"></i></button></div>
                {% endif %}
            {% endif %}
        </div>
    {% else %}
        <div class="message px-3">
            <span class="text-primary"><strong>Aucun message</strong></span>
        </div>
    {% endfor %}
</div>


