{% if session.has('dangerFlash') and dangerFlash is not defined %}
{% set errors = session.get('dangerFlash') %}
<div class="container justify-content-center mt-2">
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><small>&times;</small></span>
        </button>
        {% if(errors is iterable) %}
            <ol class="mb-0">
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ol>
        {% else %}
            {{ errors }}
        {% endif %}
    </div>
    {{ session.delete('dangerFlash') }}
</div>
{% endif %}


{% if session.has('successFlash') and successFlash is not defined %}
{% set messages = session.get('successFlash') %}
<div class="container justify-content-center mt-2">
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><small>&times;</small></span>
        </button>
        {% if(messages is iterable) %}
            <ol class="mb-0">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ol>
        {% else %}
            {{ messages }}
        {% endif %}
    </div>
    {{ session.delete('successFlash') }}
</div>
{% endif %}
