<footer class="bg-dark py-3 w-100">
    <div class="container">
        <ul class="nav">
            <li class="nav-item col-sm text-center">
                <a href="{{ route('mentionslegales') }}" class="nav-link text-secondary">Mentions Légales</a>
            </li>
            <li class="nav-item col-sm text-center">
                <a href="{{ route('contact') }}" class="nav-link text-secondary">Contactez-moi</a>
            </li>
        </ul>
    </div>
</footer>
