<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <a class="navbar-brand" href="{{ BASE_URL }}">Étienne Bénard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbar">
            <ul class="navbar-nav">
                <li class="nav-item align-self-center {{ activePage('') ? 'active': '' }}">
                    <a class="nav-link" href="{{ BASE_URL }}">Présentation</a>
                </li>
                <li class="nav-item align-self-center {{ activePage('tchat') ? 'active': '' }}">
                    <a class="nav-link" href="{{ route('tchat') }}">Tchat</a>
                </li>
                <li class="nav-item align-self-center {{ activePage('posts') ? 'active': '' }}">
                    <a class="nav-link" href="{{ route('post_index') }}">Posts</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                {% if User is null %}
                    <li class="nav-item align-self-center {{ activePage('login') ? 'active': '' }}">
                        <a class="nav-link" href="{{ route('login') }}">Se connecter</a>
                    </li>
                    <li class="nav-item align-self-center {{ activePage('register') ? 'active': '' }}">
                        <a class="nav-link" href="{{ route('register') }}">S'inscrire</a>
                    </li>
                {% else %}
                    <span class="navbar-text align-self-center">
                    Connecté en tant que <strong><u>{{ User.pseudo }}</u></strong>
                        {% set role = isGranted('admin')? 'Admin':
                            isGranted('moderator') ? 'Modérateur':
                            isGranted('author') ? 'Auteur':'' %}
                        {% if role != '' %}
                            &nbsp;<span
                                class="badge badge-secondary">{{ role }}</span>
                        {% endif %}
                    </span>
                    {% if isGranted('admin') or isGranted('moderator') or isGranted('author')%}
                        <li class="nav-item align-self-center {{ activePage('admin') ? 'active': '' }}">
                            <a class="nav-link" href="{{ route('admin_index') }}"><strong>Gestion</strong></a>
                        </li>
                    {% endif %}
                    <li class="nav-item align-self-center {{ activePage('profil') ? 'active': '' }}">
                        <a class="nav-link" href="{{ route('profil') }}">Profil</a>
                    </li>
                    <li class="nav-item align-self-center">
                        <a class="nav-link" href="{{ route('logout') }}">
                            Se déconnecter
                        </a>
                    </li>
                {% endif %}
            </ul>

        </div>
    </nav>
</header>