{% if lastPage > 1 %}

    {# the number of first and last pages to be displayed #}
    {% set extremePagesLimit = 3 %}

    {# the number of pages that are displayed around the active page #}
    {% set nearbyPagesLimit = 2 %}

    <ul class="pagination justify-content-center">
        {% if currentPage > 1 %}
            {#<li class="page-item"><a href="{{ paginationPath }}{{ currentPage-1 }}" class="page-link">&larr;</a></li>#}

            {% for i in range(1, extremePagesLimit) if ( i < currentPage - nearbyPagesLimit ) %}
                <li class="page-item"><a href="{{ paginationPath }}{{ i }}" class="page-link">{{ i }}</a></li>
            {% endfor %}

            {% if extremePagesLimit + 1 < currentPage - nearbyPagesLimit %}
                <li class="page-item disabled"><a href="#" class="page-link">&hellip;</a></li>
            {% endif %}

            {% for i in range(currentPage-nearbyPagesLimit, currentPage-1) if ( i > 0 ) %}
                <li class="page-item"><a href="{{ paginationPath }}{{ i }}" class="page-link">{{ i }}</a></li>
            {% endfor %}
        {% elseif showAlwaysFirstAndLast %}
            <li class="page-item"><a href="#" class="page-link">Previous</a></li>
        {% endif %}

        <li class="page-item active"><a href="#" class="page-link">{{ currentPage }}</a></li>

        {% if currentPage < lastPage %}
            {% for i in range(currentPage+1, currentPage + nearbyPagesLimit) if ( i <= lastPage ) %}
                <li class="page-item"><a href="{{ paginationPath }}{{ i }}" class="page-link">{{ i }}</a></li>
            {% endfor %}

            {% if  (lastPage - extremePagesLimit) > (currentPage + nearbyPagesLimit) %}
                <li class="page-item disabled"><a href="#" class="page-link">&hellip;</a></li>
            {% endif %}

            {% for i in range(lastPage - extremePagesLimit+1, lastPage) if ( i > currentPage + nearbyPagesLimit ) %}
                <li class="page-item"><a href="{{ paginationPath }}{{ i }}" class="page-link">{{ i }}</a></li>
            {% endfor %}

            {#<li class="page-item"><a href="{{ paginationPath }}{{ currentPage+1 }}" class="page-link">&rarr;</a></li>#}
        {% elseif showAlwaysFirstAndLast %}
            <li class="page-item"><a href="{{ paginationPath }}{{ currentPage+1 }}" class="page-link">Next</a></li>
        {% endif %}
    </ul>
{% endif %}