<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{% spaceless %}{% block title %}MonSite{% endblock %}{% endspaceless %}</title>
    {% if(block('description')) %}
        <meta name="description" content="{% spaceless %}{% block description %}{% endblock %}{% endspaceless %}">
    {% endif %}
    <meta name="csrf-token" content="{{ session.csrfToken }}">
    {% block head %}{% endblock %}
    {% if captcha is defined %}
        <script src='https://www.google.com/recaptcha/api.js?render={{ getenv('RECAPTCHA_SITEKEY') }}'></script>
        <script>
            window.onload = function () {
                let a = document.querySelector('form');
                a.addEventListener('submit', function b(c) {
                    c.preventDefault(), grecaptcha.ready(function () {
                        grecaptcha.execute("{{ getenv('RECAPTCHA_SITEKEY') }}", {action: "{{ captchaAction is defined ? captchaAction: '' }}"}).then(function (d) {
                            let e = document.createElement('input');
                            e.type = 'hidden', e.name = 'g-recaptcha-response', e.value = d, a.insertBefore(e, a.firstChild), a.removeEventListener('submit', b), a.submit()
                        })
                    })
                })
            };
        </script>
    {% endif %}
    <link rel="stylesheet" href="{{ assets(Mix('/bundles/css/app.css')) }}">
    {% block styles %}
    {% endblock %}
</head>
<body>
{% include 'layout/navbar.html.twig' %}
{% include 'layout/flash.html.twig' %}
{% block body %}{% endblock %}
{% include 'layout/footer.html.twig' %}
{% block scripts %}
    <script src="{{ assets(Mix('/bundles/js/app.js')) }}"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121376136-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-121376136-1');
    </script>

{% endblock %}
</body>
</html>